#tree {
	display: flex;
	flex-direction: column-reverse;
}

.branch {
	display: flex;
	flex-direction: row;
}

/* .right {
}

.left {
} */

.roots {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
}

.trunk {
	display: block;
  	margin-left: 40%;
  	margin-right: auto;
  	width: 18%;
}

.finished {
	color: green;
}

html {
	background-image: url("background.png");
	background-position: center;
  	background-size: cover;
	background-repeat: no-repeat;
	font-family: Quicksand;
}

input {
	font-family: Quicksand;
}

h1 {
	text-align: center;
}
