
html {
	background-image: url("background.png");
	background-position: center;
  	background-size: cover;
	background-repeat: no-repeat;
	font-family: Quicksand;
}

input {
	font-family: Quicksand;
}

h1 {
	text-align: center;
}

#tree {
	display: flex;
	flex-direction: column-reverse;
}


/* .right {
}

.left {
} */

.roots {
	/* position: relative; */
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
}

.trunk {
	position: relative;
	left: 40.08%;
	display: block;
  	margin-right: auto;
  	width: 18%;
}

.crown {
	position: relative;
	display: block;
	width: 33%;
	left: 32.4%;
}

.finished {
	color: green;
}

/* format subtasks */
.task {
	position: absolute;
}
.subtask input {
	display: none;
}

.subtask.selected input[type=submit] {
	display: inline;
}

/* format blurbs on right side */
.blurb {
	position: fixed;
	right: 0;
	transform: translateX(100%);
	width: 50vw;
	background-color: gray;
	transition: transform 1s;
}
.blurb img {
	width: 100%;
}
.selected .blurb {
	transform: translateX(0);
}
