
html {
	background-image: url("background.png");
	background-position: center;
  	background-size: cover;
	background-repeat: no-repeat;
	font-family: Quicksand;
}

input {
	font-family: Quicksand;
}

h1 {
	text-align: center;
}

#tree {
	display: flex;
	flex-direction: column-reverse;
}


/* .right {
}

.left {
} */

.roots {
	/* position: relative; */
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 75%;
}

.crown {
	position: relative;
	display: block;
	width: 33.7%;
	left: 32.05%;
	top: 4px;
}

/* format tasks */
.trunk {
	position: relative;
	left: 46.08%;
	display: block;
  	margin-right: auto;
  	width: 6.9%;
}

.trunk img {
	width: 100%;
}

.task {
	position: absolute;
	top: 0;
	width: 100%;
}
.task.left {
	flex-direction: row-reverse;
}
.task h2 {
	position: absolute;
	transform: rotate(90deg);
}
.task > div {
	padding-left: 100%;
	display: flex;
	flex-direction: row;
}



/* format subtasks */
.subtask > div {
	position: relative;
	top: 0.87vw;
	width: 6vw;
}
.finished {
	color: green;
}
.subtask .decoration {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}



/* format subtask text */
.subtask .text {
	position: absolute;
	transform: translateY(-5%);
}
.subtask input {
	display: none;
}

.subtask.selected input[type=submit] {
	display: inline;
}

/* format blurbs on right side */
.blurb {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	transform: translateX(1000%);
	width: 50vw;
	background-color: gray;
	transition: transform 1s;
}
.blurb img {
	width: 100%;
}
.selected.finished .blurb {
	transform: translateX(0);
}
